.container {
	margin-top: 50px;

}
.btn-black {
	background-color: #333;
	color: #fff;
}

.btn-warning {
}

.selected-list {

}

.selected-list li, .result-list li{
	list-style: none;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 40px;
	border-radius: 8px;

}

.result-list {
	margin-left: -20px;
	margin-top: 10px;
}
.result-list li {
	margin-right: 5px;
	border-radius: 20px;
	width: 15px;
	height: 15px;
}
.gray {
	background-color: #aaa;
}

.red {
	background-color: #c9302c;
	border: 1px solid #d43f3a;
}

.blue {
	background-color: #3585cf;
	border: 1px solid #2c74b7;
}

.green {
	background-color: #449d44;
	border: 1px solid #398439;
}

.white {
	background-color: #fff;
	border:1px solid #DDD;
}

.black {
	background-color: black;
	border:1px solid #DDD;
}

.yellow {
	background-color: yellow;
	border:1px solid #DDD;
}